body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image:url('https://static.wikia.nocookie.net/officialclubpenguinonline/images/c/c4/Night_Club1.png/revision/latest/scale-to-width-down/1000?cb=20180603163618');
  background-size: cover;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: rgb(221, 230, 47);
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}